
<div id="PortfolioPicture">
<%= image_tag( "venusProfile3.png", :alt => "Picture") %>
</div>

<div id="PortfolioTitle2">
<h1>Venus Chara Doherty</h1>
</div>
<div id="PortfolioBody">
<p>
	This is the website for Venus Chara Artchitects, LLC, a fully licensed provider of high-end artchitectual services
</p>
</div>
