<!DOCTYPE html>
<html lang="en">

<div class="row">
	<div class="span12">
		<h1>
		Venus Chara Architects
		</h1>
	</div>
	<div class="row2">
		<div class="span12">
			<P>
			Residential Artchitecutual Services
			</p>
		</div>
	</div>	
</div>


<!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://www.goldestateinvest.com/subtle_files/411358_1305277284_large-1200x480.jpg" alt="" />
      <div class="carousel-caption">
        <p>Picture 1 of 4</p>
      </div>
    </div>
    <div class="item">
      <img src="http://falconinvesting.com/files/2012/01/falcon-Investing-slide-1-1200x480.png" alt="" />
      <div class="carousel-caption">
        <p>Picture 2 of 4</p>
      </div>
    </div>
    <div class="item">
      <img src="http://www.bigislandventures.com/wp-content/uploads/2011/12/IMG_0749_web-1200x480.jpg" alt="" />
      <div class="carousel-caption">
        <p>Picture 3 of 4</p>
      </div>
    </div>
    <div class="item">
      <img src="http://theconcept21.com/wp-content/uploads/2011/06/286193_1299823344_large-1200x480.jpg" alt="" />
      <div class="carousel-caption">
        <p>Picture 4 of 4</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->


<div class="row">
		<div class="span6">
      <a href='homeportfolio'>
		  		<img src="http://www.interiordesign-world.com/wp-content/uploads/2013/08/e4112__House-in-Barcelos-09-140x140.jpg" class="img-circle">
          </a>
		  		<p>
		  		<strong>
					<%= link_to "Portfolio of Houses", "#" %>
				</strong>
				</p>
			</div>
			<div class="span6">
        <a href='apartmentsportfolio'>
				<img src="http://www.interiordesign-world.com/wp-content/uploads/2013/08/e4112__House-in-Barcelos-09-140x140.jpg" class="img-circle">
      </a>
				<p>
				<strong>
					<%= link_to "Portfolio of Apartments", "#" %>
				</strong>
				</p>
			</div>	
		</div>	



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
		interval: 2000
    });
  });
</script>

</html>
