<div id="PortfolioTitle">
<h1>Portfolios</h1>
</div>


<div class="row">
		<div class="span6">
      <a href='homeportfolio'>
		  		<img src="http://www.interiordesign-world.com/wp-content/uploads/2013/08/e4112__House-in-Barcelos-09-140x140.jpg" class="img-circle">
          </a>
		  		<p>
		  		<strong>
					<%= link_to "Portfolio of Houses", "#" %>
				</strong>
				</p>
			</div>
			<div class="span6">
        <a href='apartmentsportfolio'>
				<img src="http://www.interiordesign-world.com/wp-content/uploads/2013/08/e4112__House-in-Barcelos-09-140x140.jpg" class="img-circle">
      </a>
				<p>
				<strong>
					<%= link_to "Portfolio of Apartments", "#" %>
				</strong>
				</p>
			</div>	
		</div>	