<div id="PortfolioTitle">
<h1>Homes & Apartments</h1>
</div>


      <div class= "row">
            <div class="span6">
              <a href='homeportfolio'>
              <div class="PortfolioHomeThumb">
                <%= image_tag( "Apartment_017.jpg", :alt => "Picture") %>
                <font color="#FFFFFF">
                <h3>Portfolio of Homes</h3>
                <p>
                 VCD Architects has designed and managed the construction of projects across the northeast
                </font>
                </p>
                </a>
                </div>
            </div>
            <div class="span6">
               <a href='apartmentsportfolio'>
              <div class="PortfolioHomeThumb">
                <%= image_tag( "Apartment_018.jpg", :alt => "Picture") %>
                <font color="#FFFFFF">
                <h3>Portfolio of Apartments</h3>
                <p>
                 VCD Architects speacializes in complete renovations of luxury apartments in New York City
                 </font>
                </p>
                </a>
              </div>
            </div>