<div id="PortfolioTitle">
<h1>Portfolios</h1>
</div>


<div class="row">
		<div class="span6">
      <a href='homeportfolio'>
		  		<%=   image_tag( "Apartment_035.jpg", :alt => "Picture") %> 
          </a>
		  		<p>
		  		<strong>
					<%= link_to "Portfolio of Houses", "#" %>
				</strong>
				</p>
			</div>
			<div class="span6">
        <a href='apartmentsportfolio'>
				<%=   image_tag( "Apartment_036.jpg", :alt => "Picture")  %> 
      </a>
				<p>
				<strong>
					<%= link_to "Portfolio of Apartments", "#" %>
				</strong>
				</p>
			</div>	
		</div>	