

<div class="row">
			<div class="span12" id="thumbs">
		            <a class="thumb" name="optionalCustomIdentifier" href="http://blog.gettyimages.com/wp-content/uploads/2013/01/Siberian-Tiger-Running-Through-Snow-Tom-Brakefield-Getty-Images-200353826-001.jpg" title="tiger">
		                <img src="http://blog.gettyimages.com/wp-content/uploads/2013/01/Siberian-Tiger-Running-Through-Snow-Tom-Brakefield-Getty-Images-200353826-001.jpg" alt="your image title again for graceful degradation"/>
		            </a>
		            <div class="caption">
		                This is a tiger
		            </div>
		       
		            <a class="thumb" name="optionalCustomIdentifier" href="http://viewallpaper.com/wp-content/uploads/2013/07/Images-Water-Wallpaper.jpg" title="FISH">
		                <img src="http://viewallpaper.com/wp-content/uploads/2013/07/Images-Water-Wallpaper.jpg" />
		            </a>
		            <div class="caption">
		                This is a cray fish
		            </div>
		             <a class="thumb" name="optionalCustomIdentifier" href="http://viewallpaper.com/wp-content/uploads/2013/07/Images-Water-Wallpaper.jpg" title="FISH">
		                <img src="http://viewallpaper.com/wp-content/uploads/2013/07/Images-Water-Wallpaper.jpg" />
		            </a>
		            <div class="caption">
		                This is a cray fish
		            </div>
		          </div>
			</div>








