<div class="row">
	<div class="span6">
		<h1>
		Portfolio
		</h1>
	</div>
</div>


<div id="menu">
	<div class="row">
		
			<div class="span4" id="PortfolioCategories">
				<p>
					<a href="#" onmouseover="" onmouseout="">
						House1
					</a>
				</p>
						<p>
					<a href="#" onmouseover="" onmouseout="">
						House2
					</a>
				</p>
				<p>
					<a href="#" onmouseover="" onmouseout="">
						House3
					</a>
				</p>
				<p>
					<a href="#" onmouseover="" onmouseout="">
						House4
					</a>
				</p>
			</div>

			<div class="span4">
					<a href="#" onmouseover="" onmouseout="">
						<img src="http://www.interiordesign-world.com/wp-content/uploads/2013/08/e4112__House-in-Barcelos-09-140x140.jpg" id="portfolio_menu" class="img-circle">
					</a>
					<a href="#" onmouseover="" onmouseout="">
						<img src="http://www.interiordesign-world.com/wp-content/uploads/2013/08/e4112__House-in-Barcelos-09-140x140.jpg" id="portfolio_menu" class="img-circle">
					</a>
				</li>
			</div>

		<div class="row">
			<div class="span4">
					<a href="#" onmouseover="" onmouseout="">
						<img src="http://www.interiordesign-world.com/wp-content/uploads/2013/08/e4112__House-in-Barcelos-09-140x140.jpg" id="portfolio_menu" class="img-circle">
					</a>
					<a href="#" onmouseover="" onmouseout="">
						<img src="http://www.interiordesign-world.com/wp-content/uploads/2013/08/e4112__House-in-Barcelos-09-140x140.jpg" id="portfolio_menu" class="img-circle">
					</a>
				</li>
			</div>
		</div>
	</div>
</div>
</div>






