/* You could change the font
/* $baseFontFamily: Poly;
@import url(http://fonts.google.com/css?family=Poly); */

$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

.row .span12 {
    text-align: center;
}

body {

	padding-top: 60px;
}

.row .span6 {
    text-align: center;
}

@import 'bootstrap-responsive';

.navbar-inner {

	@include box-shadow(none !important);
	border: 0;

}

.footer {

	margin-top: 50px;
	margin-bottom: 25px;
	color: $grayLight;
	a {
		color: $gray;
	}
}
