<div class="footer">
		<small>
		<p>
			<%= link_to "About", about_path %>
		</p>
		<p>
			<li><a href="mailto:venuschara@aol.com?subject=Architecture Consultation&body="><i class="icon-envelope", >
          </i>
            Contact
          </a>
      </li>
		</p>
		</small>
		</div>